db/
incremental_db/
output_files/
simulation/
greybox_tmp/
.qsys_edit/

*.rpt
*.summary
*.smsg
*.pin
*.jdi
*.sld
*.done
*.qws
*.bak
*.orig
*.qar

*.sof
*.pof
*.jic
*.rbf

c5_pin_model_dump.txt
PLLJ_PLLSPE_INFO.txt

# Questa / ModelSim
work/
transcript
*.wlf
modelsim.ini
vsim_stacktrace.vstf
